{% extends 'base.html' %} {% block content %}
<h1
  style="
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    text-align: center;
    background-color: aquamarine;
  "
>
  This is a Counter
</h1>

<div
  class="counter"
  style="text-align: center; margin-top: 23%; margin-left: 25%"
>
  <h1 style="color: aquamarine">{{result}}</h1>
  <a href="decrement" class="btn btn-danger">Decrement</a>
  <a href="reset" class="btn btn-secondary">Reset</a>
  <a href="increment" class="btn btn-success">Increment</a>
</div>
{% endblock %}
